*{font-family: helvetica;}
.bodyh1{margin-bottom: 20px;}
.custom {
  background-color: gray;
}
#item{
  background-color:gray;
  padding:10px;
  margin-bottom:10px;
}
.navbar{padding-bottom:0px;}
.navbar-nav .nav-item:hover .nav-link {
    color:#cccccc;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    background-color: #252525;
    border: 1px solid black;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
}